In [9]:
import pandas as pd
import os

In [10]:
d = pd.read_excel('data.xlsx')
d

                Class              Name
0   First Grade - Doe     Eckman George
1   First Grade - Doe     Enfield Conor
2   First Grade - Doe       Silva Bodhi
3  Second Grade - Bar  Enfield Rosemary
4  Second Grade - Bar       Wells Henry
5  Second Grade - Bar  Altschuler Jyoti

In [11]:
for index, row in d.iterrows():
    print(index, row['Class'], row['Name'])

0 First Grade - Doe Eckman George
1 First Grade - Doe Enfield Conor
2 First Grade - Doe Silva Bodhi
3 Second Grade - Bar Enfield Rosemary
4 Second Grade - Bar Wells Henry
5 Second Grade - Bar Altschuler Jyoti

In [12]:
for index, row in d.iterrows():
    path = '{}/{}'.format(row['Class'], row['Name'])
    print("Creating '{}...'".format(path))
    os.makedirs(path, exist_ok=True)

Creating 'First Grade - Doe/Eckman George'
Creating 'First Grade - Doe/Enfield Conor'
Creating 'First Grade - Doe/Silva Bodhi'
Creating 'Second Grade - Bar/Enfield Rosemary'
Creating 'Second Grade - Bar/Wells Henry'
Creating 'Second Grade - Bar/Altschuler Jyoti'