In [1]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [141]:
people = ['Conor', 'Rosemary', 'Will', 'Andrew']
all_teams = [['Kentucky', 'Villanova', 'Duke', 'Wisconsin'],
             ['Kansas', 'Arizona', 'Gonzaga', 'Virginia'],
             ['Iowa St','Baylor','Oklahoma','Notre Dame'],
             ['North Carolina','Maryland','Louisville','Georgetown'],
             ['Utah','Arkansas','West Virginia','UNI'],
             ['SMU','Providence','Butler','Xavier'],
             ['Michigan St','Wichita St','Iowa','VCU'],
             ['Cincinnati','Oregon','NC State','San Diego St'],
             ['St Johns','Oklahoma St','LSU','Purdue'],
             ['Indiana','Davidson','Ohio St','Georgia'],
             ['Texas','UCLA','Ole Miss/BYU','Boise St/Dayton'],
             ['Wyoming','Buffalo','Wofford','Stephen F. Austin'],
             ['Valpo','Harvard','EWU','UC Irvine'],
             ['Georgia St','Northeastern','UAB','Albany'],
             ['New Mexico St','Belmont','Texas Southern','ND St'],
             ['Lafayette','Coastal Carolina','North Florida/Robert Morris','Manhattan/Hampton'],
            ]

def allocate_four_teams(four_teams, people=people):
    slots = random.permutation([0,1,2,3])
    return {name: four_teams[slots[idx]] for idx, name in enumerate(people)}
    #return [(name, four_teams[slots[idx]]) for idx, name in enumerate(people)]

def allocate_all_teams(all_teams=all_teams):
    return [allocate_four_teams(four_teams) for four_teams in all_teams]

In [144]:
allocated = allocate_all_teams()
#allocated

In [145]:
allocated[15]

{'Andrew': 'North Florida/Robert Morris',
 'Conor': 'Lafayette',
 'Rosemary': 'Coastal Carolina',
 'Will': 'Manhattan/Hampton'}

In [126]:
allocated[14]

{'Andrew': 'Belmont',
 'Conor': 'Texas Southern',
 'Rosemary': 'New Mexico St',
 'Will': 'ND St'}

In [127]:
allocated[13]

{'Andrew': 'Northeastern',
 'Conor': 'Georgia St',
 'Rosemary': 'UAB',
 'Will': 'Albany'}

In [128]:
allocated[12]

{'Andrew': 'EWU', 'Conor': 'Valpo', 'Rosemary': 'UC Irvine', 'Will': 'Harvard'}

In [129]:
allocated[11]

{'Andrew': 'Wyoming',
 'Conor': 'Wofford',
 'Rosemary': 'Stephen F. Austin',
 'Will': 'Buffalo'}

In [130]:
allocated[10]

{'Andrew': 'Boise St/Dayton',
 'Conor': 'Ole Miss/BYU',
 'Rosemary': 'Texas',
 'Will': 'UCLA'}

In [131]:
allocated[9]

{'Andrew': 'Davidson',
 'Conor': 'Georgia',
 'Rosemary': 'Indiana',
 'Will': 'Ohio St'}

In [132]:
allocated[8]

{'Andrew': 'Oklahoma St',
 'Conor': 'St Johns',
 'Rosemary': 'LSU',
 'Will': 'Purdue'}

In [133]:
allocated[7]

{'Andrew': 'San Diego St',
 'Conor': 'NC State',
 'Rosemary': 'Oregon',
 'Will': 'Cincinnati'}

In [134]:
allocated[6]

{'Andrew': 'VCU',
 'Conor': 'Wichita St',
 'Rosemary': 'Michigan St',
 'Will': 'Iowa'}

In [135]:
allocated[5]

{'Andrew': 'Providence',
 'Conor': 'SMU',
 'Rosemary': 'Butler',
 'Will': 'Xavier'}

In [136]:
allocated[4]

{'Andrew': 'UNI',
 'Conor': 'West Virginia',
 'Rosemary': 'Utah',
 'Will': 'Arkansas'}

In [137]:
allocated[3]

{'Andrew': 'Maryland',
 'Conor': 'North Carolina',
 'Rosemary': 'Louisville',
 'Will': 'Georgetown'}

In [138]:
allocated[2]

{'Andrew': 'Oklahoma',
 'Conor': 'Iowa St',
 'Rosemary': 'Baylor',
 'Will': 'Notre Dame'}

In [139]:
allocated[1]

{'Andrew': 'Arizona',
 'Conor': 'Kansas',
 'Rosemary': 'Virginia',
 'Will': 'Gonzaga'}

In [140]:
allocated[0]

{'Andrew': 'Villanova',
 'Conor': 'Duke',
 'Rosemary': 'Kentucky',
 'Will': 'Wisconsin'}